.container {
  width: 275px !important;
}

.header {
  height: 40px;
  border-radius: 8px 8px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

.label {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 0.875rem;

  letter-spacing: 0.25px;

  color: #141414;
}

.cardsContainer {
  height: 80vh !important;
  background-color: #FFFFFF;
  border-radius: 0 0 8px 8px;
  padding: 10px 8px;
}